<h1>Demo</h1>

<!-- <input type="text" name="name" value=""> -->
 {{input type="text" value=firstName}}

 Your name is {{firstName.length}} characters long.

 {{#if firstName}}
    <p> {{firstName}} </p>
 {{else}}
    <p>
      No first name for answer
    </p>
 {{/if}}
